!最新修改时间：2018年9月18日:定义测站控制UDP端口号；
!最新修改时间：2016年7月13日:增加共享内存中台站表数量！
!最新修改时间：2016年3月11日:增加卫星地图使用开关以及卫星瓦片路径！
!
!		这个文件中"="符号之后的文本可以被修改，但文件格式不可修改。
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! 是否使用卫星地图的开关：2/1/0三个状态；2=BING地图；1=GOOGLE地图；0=不使用
! 注意，两种卫星地图有不同的算法，需要区分！BING地图误差相对较小！
使用卫星地图 = 1
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! 卫星地图文件夹路径，指定地图文件夹的全路径，末字符之后不带‘\’符号
!卫星地图文件夹路径 =  D:\00UHD_E313_57INST\googlemaps\satellite   或 E:\MapTileDownload\googlemaps\satellite
!卫星地图文件夹路径 = D:\googlemaps\satellite
卫星地图文件夹路径 = D:\1_无线频谱监测\CENTER_APP\ZMAP\satellite
!卫星地图文件夹路径 = D:\1_无线频谱监测\CENTER_APP\ZMAP\测试点1电子地图

!卫星地图会频繁访问磁盘，使用RAM盘可加速访问，没有RAM盘时必须屏蔽下面行
!卫星地图加速RAM盘符 = R:
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! SHP格式地图文件夹路径，指定地图文件夹的全路径，末字符之后不带‘\’符号
! SHP地图文件夹路径 = D:\00UHD_E313_57INST\Map成都
!SHP地图文件夹路径 = D:\googlemaps\Map成都
SHP地图文件夹路径 = D:\1_无线频谱监测\CENTER_APP\ZMAP\Map成都

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!如果本机为核心中心站,则填写大写"YES"，此时它可作为机房内其他终端的代理服务器；
!每个测站配置文件中必须存储有本中心站的IP地址时，此项方可填写“YES”
!填写"NO"时，本站必须通过代理服务器访问测站；用于扩充机房内的操作终端数量；
!组播地址是核心中心站转发测站UDP帧的地址，也是工作中心站接收测站消息的地址；
本工作站为中心站 = YES
!本中心站支持代理服务器模式，“YES”或“NO”；机房交换机必须支持组播。
代理服务器 = YES
组播地址   = 239.2.2.2
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!本段定义中心站GUI进程与通信进程间通信所使用的端口号；
!端口号可设置是为了避免与其他软件发生冲突；
GUI2COM间UDP端口号      = 2611
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!本段定义测站与中心站COMM进程间通信所使用的端口号；必须与测站定义一致！
!这几个端口号可设置是为了避免与其他软件发生冲突；
STATION2COMM间UDPAUDIO端口号    	= 2612
STATION2COMM间TCPUDP端口号 	  	= 2613
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!本段定义中心站与测站之间TCP连接建立过程中的超时时间（秒）【2017年4月增加】
!当使用3G/4G移动网络，或中心站与测站之间路由跳数较多时，应酌情增加此超时值；
!此值过大，使用多站执行任务时，点击《启动任务》按钮后，需要等待较长时间才能确定各个测站TCP状态
STATION2COMM间TCP连接超时时间    = 3
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!当测站使用静态IP时，可在测站安装FileZilla FTP服务器，中心站安装FileZilla FTP客户端软件。
!当测站使用动态IP时，此时需要使用中心站内嵌的测站文件传输模块。
!下面定义两个测站与中心站之间的TCP端口，用于文件传输和更新，此时中心站使用静态IP。
!数据传输端口号必须是控制端口号+1；
GUI2COMM_FTP_CMD端口号  = 2614
GUI2COMM_FTP_DAT端口号  = 2615
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!网络通信模式：测站使用静态IP=1，表达每个测站有静态IP；0表达测站没有静态IP。
!每个测站静态IP被定义在《测量站配置信息表.xls》文件中。每个测站应做同样设置！
测站使用静态IP = 0
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!中心站名称，是说明测站使用者的符号，可任意指定不超过8个中文字符的字符串。
中心站名称 = 省中心A
!每个中心站可以支持多台工作站，并有唯一的名称；可任意指定不超过7个中文字符的字符串。
工作站名称 = 测控G
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!不使用测站实时大地坐标。在地图上显示测站地址时，仅仅根据测站配置文件中的坐标。
!程序启动后，还可在测站管理面板中修改这个参数
不使用测站实时大地坐标 = 0
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!使用按流量收费的网络时，将此参数置1，否则置0，在非极速模式时，节省网络流量
使用按流量收费的网络 = 0
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!正常模式下频谱回传周期，单位秒；
正常模式下频谱回传周期 = 2
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!正常模式下信号表回传周期，单位秒；
正常模式下信号表回传周期 = 5
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!正常模式下瀑布图回传周期，单位秒；
正常模式下瀑布图回传周期 = 5
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!TDOA数据块报告周期，单位秒；最小值为2，根据传输网络性能调整，使用3G时的建议值为5。
TDOA数据块报告周期 = 3
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!测站频谱数据自动记录间隔（轮次）。操作员启动频谱记录时，间隔恒定为1；
测站频谱数据自动记录周期 = 30
!
!测站IQ数据自动记录时间（秒）。操作员启动IQ记录时，没有时间限制；
测站时域数据自动记录时长 = 0.5
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
